<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Dominik Robert, Thorsten Eurich">
    <title>Shelly Core</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" sizes="32x32">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Icon Fonts -->
    <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      {{ template "menue.html" }}
      <div id="content">
      {{ template "topnav.html" }}