{{ template "header.html" }}
  {{ template "menue.html" }}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Delete Building {{ .data.Name }}?</h1>
          </div>
          <form enctype="multipart/form-data" action="/app/buildings/remove" method="POST">
            <div class="form-group">
              <input type="hidden" class="form-control" name="ID" id="ID" aria-describedby="meHelp" value="{{.data.ID}}">
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
           
        </main>
    </div>
		{{ template "footer.html" }}
 </body>
</html>