{{ template "header.html" }}
  {{ template "menue.html" }}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Rooms</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="new" name="new">Create</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                  This week
                </button>
              </div>
          </div>
          {{ range .data }}
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{.RoomPicture}} alt={{ .RoomName }}>
            <div class="card-body">
              <h5 class="card-title">{{ .RoomName }}</h5>
              <a href="#" class="btn btn-primary">Show Room</a>
            </div>
          </div>
          {{ end }}
        </main>
    </div>
    {{ template "footer.html" }}
    <script>
			$( document ).ready(function() {
        console.log("is ready");
				$( "#new" ).click(function() {
          console.log("FIRED");
					window.location.replace("/app/rooms/manage/create")
				});
			});
		</script>
    
  </body>
</html>