{{ template "header.html" }}
        <main role="main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Edit Building</h2>
          </div>
          <form enctype="multipart/form-data" action="/app/buildings/update" method="POST">
            <div class="form-group">
              <label for="Name">Name of the Building</label>
              <input type="text" class="form-control" name="Name" id="Name" aria-describedby="meHelp" value="{{ .data.Name }}">
              <input type="hidden" class="form-control" name="ID" id="ID" value="{{ .data.ID }}">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          
        </main>
    </div>
    {{ template "javascript.html" }}
    {{ template "footer.html" }}

