{{ define "BuildingList" }}
  {{ template "Header" }}
  <h4 style="color:#eee;">Buildings</h4>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Building</th>
        <th style="width: 150px">Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      {{ range .}}
      <tr>
        <td>{{ .IDBuilding}}</td>
        <td>{{ .BuildingName }}</td>
        <td>
          <a style="margin: 0 5px" href="/ui/manage/buildings/edit/{{ .IDBuilding }}" type="button" class="btn btn-sm btn-outline-info"><i class="mdi mdi-cog-outline"></i></a>
          <a style="margin: 0 5px" href="/ui/manage/buildings/delete/{{ .IDBuilding }}" type="button" class="btn btn-sm btn-outline-danger"><i class="mdi mdi-delete"></i></a>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
  {{ template "Footer" }}
{{ end }}
