{{ define "BuildingAdd" }}
  {{ template "Header" }}
  <h4>Add Building</h4>
  <form action="/ui/manage/buildings/insert" method="post" style="background-color: #263238; padding: 20px; color: #eee; border-radius: 10px;">
    <div class="form-group">
      <label for="buildingname">Building Name</label>
      <input type="text" class="form-control" id="buildingname" name="buildingname" placeholder="Enter building name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{ template "Footer" }}
{{ end }}
