{{ define "DiscoveredDevices" }}
  {{ template "Header" }}
  <h4 style="color:#eee;">Discovered Devices</h4>
  <div  style="color:#eee;">
    <table id="discovered" class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Device ID</th>
                <th>IP</th>
                <th>Type</th>
                <th>Configure</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
</div>
<script>
    $(document).ready(function(){
        $.getJSON("/api/v1/devices", function(result){
            $.each(result, function(id, device){
                var dev = id.split("#");
                var ip = dev[2].split(":");
                $('#discovered tr:last').after('\
                <tr>\
                    <td>'+ dev[0]+ '</td>\
                    <td>'+ ip[0]+ '</td>\
                    <td>'+ dev[1]+ '</td>\
                    <td><button type="button" class="btn btn-outline-success"><i class="mdi mdi-plus"></i></button></td>\
                </tr>')
            });
        });
    });
</script>

  {{ template "Footer" }}
{{ end }}
