{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>ShellyCore</title>
		<meta name="mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" href="/ui/assets/images/icon.png">
		<link rel="stylesheet" href="/ui/assets/css/bootstrap.min.css">	
		<link href="/ui/assets/css/materialdesignicons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/ui/assets/css/jquery-ui.css">
		<script src="/ui/assets/js/jquery.min.js"></script>
		<script src="/ui/assets/js/popper.min.js"></script>
		<script src="/ui/assets/js/bootstrap.min.js" ></script>
		<script src="/ui/assets/js/jquery-ui.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style>
		.update {
			color: green !important;
		}
		span.badge {
			cursor: pointer;
		}
		</style>
	</head>
	<body style="background-color:#222;">
		<div class="container">
			<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
				<a class="navbar-brand" href="/"><img src="/ui/assets/images/shelly_logo.png" class="d-inline-block align-top" alt="">Core</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			  	<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
			  		<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							  <a class="nav-link dropdown-toggle" href="#" id="navbardevices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Devices</a>
							  <div class="dropdown-menu" aria-labelledby="navbardevices">
								<a class="dropdown-item" href="/ui/manage/devices">Manage Devices</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/ui/manage/devices/discovered">Discovered Devices</a>
								<a class="dropdown-item" href="/ui/manage/devices/hidden">Hidden Devices</a>
							  </div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Szenes</a>
				  		</li>
						<li class="nav-item dropdown">
				 			<a class="nav-link dropdown-toggle" href="/ui/manage/rooms" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Rooms
				  			</a>
				 		 	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="/ui/manage/buildings">View Buildings</a>
								<a class="dropdown-item" href="/ui/manage/buildings/add">Add Building</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/ui/manage/rooms">View Rooms</a>
								<a class="dropdown-item" href="/ui/manage/rooms/add">Add Room</a>
				 		 	</div>
						</li>
						<li class="nav-item dropdown">
				 			<a class="nav-link dropdown-toggle" href="/ui/manage/settings" id="navbarsettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Settings
				  			</a>
				 		 	<div class="dropdown-menu" aria-labelledby="navbarsettings">
								<a class="dropdown-item" href="/ui/manage/settings">Edit Settings</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/ui/manage/users">View Users</a>
								<a class="dropdown-item" href="/ui/manage/users/add">Add Users</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/ui/manage/groups">View Groups</a>
								<a class="dropdown-item" href="/ui/manage/groups/add">Add Groups</a>
				 		 	</div>
						</li>
			  		</ul>
				</div>
		  	</nav>
		</div>
		<div class="container" style="margin-top: 60px;">
			<br>
{{ end }}